:root {
	--menu-hover: #CF6C0A;
	--btn-menu-hover: #aadb6f;
	--btn-calltoaction: #174994;
	--btn-calltoaction-hover: #457BBB;
}

header {
	background-color: #299E2F;
}

.btn-nav {
	background-color: var(--menu-hover);
	color: #FFFFFF !important;
	font-weight: 600 !important;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.btn-nav:hover{
	background-color: var(--btn-menu-hover);
	color: #FFFFFF !important;
	opacity: 0.6;
}

body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#introduccion {
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../img/clouds-intro.png");
	background-size:cover;
	padding: 17%;
	color: #FFFFFF;
	text-align: center;
}

#beneficios{
	text-align: center;
	background-position: top center;
	color: #FFFFFF;
	background-color: #1F5BE8;
	padding: 5% 0;
}

#beneficios .service-info {
	padding: 20px;
}

.beneficios-info{
	font-size: 20px;
}

#beneficios img{
	width: auto;
	height: 180px;
	border-radius: 20px;
	filter: drop-shadow(5px 5px 4px #0A2769);
}

.beneficios-info h4{
	padding-top: 30px;
	padding-bottom: 15px;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 30px;
}
.beneficios-info p{
	padding-left: 90px;
	padding-right: 90px;
	font-size: 16px;
}
.beneficios-info a{
	color: #666666;
	font-size: 16px;
	text-decoration: none;
}

.beneficios-info a:hover{
	color: #4CAF50;
}

.title-intro{
	font-size: 360%;
	padding-bottom: 5%;
}

.txt-intro{
	font-size: 130%;
}
#pruebasocial{
	text-align: center;
	background-position: top center;
	background-color: #299E2F;
}

#pruebasocial .pruebasocial-info {
	padding: 10px;
}

.pruebasocial-padding{
	padding: 50px;
	padding-left: 190px;
}
.pruebasocial-border{
	margin-right: 80px;
	width: 350px;
	border-radius: 20px;
	padding-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
	filter: drop-shadow(5px 5px 7px #1C6D20);
}
.pruebasocial-info {
	
	font-size: 20px;
}
.pruebasocial-info img{
	height: auto;
	width: 250px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}

#pruebasocial .capa-relative{
	background-color: #299E2F;
	border-radius: 200px;
	width: 135px;
	margin-left: 105px;
}
.capa-relative img{
	width: 130px;
	height:130px;
}

.pruebasocial-info h4{
	color: #299E2F;
	font-size: 30px;
}

.pruebasocial-info p{
	padding-left: 50px;
	padding-right: 50px;
	font-size: 16px;
	color: black;
}

.pruebasocial-info a{
	text-align: right !important;
	color: #299E2F;
	font-size: 20px;
	text-decoration: none;
}

.pruebasocial-info a:hover{
	color: #4CAF50;
}

.pruebasocial-calificanos{
	text-align: end;
	margin-top: 100px; 
}

.btn-engage {
	padding: 7px 40px;
	margin-right: 60px;
	border-radius: 30px;
	background-color: #FFFFFF;
	color: #299E2F !important;
	font-weight: 700 !important;
	font-size: 25px;
	filter: drop-shadow(5px 5px 7px #1C6D20);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.btn-engage:hover{
	background-color: var(--btn-menu-hover);
	color: #FFFFFF !important;
}

#calltoaction {	
	background-image: url("../img/Habitat_Logo-05.png");
	background-color: #299E2F;
	background-position:left;
	background-repeat: no-repeat;
	padding-top: 15%;
	padding-bottom: 15%;
	color: #FFFFFF;
	vertical-align: middle;
	text-align: center;
}

.btn-calltoaction {
	background-color: var(--btn-calltoaction);
	color: #FFFFFF !important;
	font-weight: 600 !important;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.btn-nav:hover{
	background-color: var(--btn-calltoaction-hover);
	color: #FFFFFF !important;
	opacity: 0.6;
}

/* ---------------------------------------------------------------------------------------------------------------*/
#formulario{
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../img/form-background.jpg");
	background-size: cover;
	padding: 8% 0%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.card-title{
	background-color: transparent;
	border-color: transparent;
	color: #FFFFFF;
	font-size: 200%;
}

.card-title-1{
	color: #FFFFFF;
	font-size: 200%;
}

.form-control{
	border-color: #1F5BE8;
	border-width: 1%;
}

.form-btn{
	background-color: var(--menu-hover);
	color: #000000;
	font-weight: 500;
	font-size: 18px;
	padding: 1% 7%;
	margin: 9% 0;
	border-color: transparent;
}

.form-btn:hover{
	background-color:#174994;
}

.title-form{
	font-weight: 500;
	padding: 10px;
}

.formulario-title{
	padding: 5%;
}
/* ---------------------------------------------------------------------------------------------------------------*/


